.cp_select {
	overflow: hidden;
	width: 95%;
	margin: 2em auto;
	text-align: center;
}
.cp_select select {
	width: 100%;
	padding-right: 1em;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_select select::-ms-expand {
    display: none;
}
.cp_select.cp_sl03 {
	position: relative;
	border-bottom: 1px solid #000;
}
.cp_select.cp_sl03::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #000000;
	pointer-events: none;
}
.cp_select.cp_sl03 select {
	padding: 8px 38px 8px 8px;
}



.surround {
  border-top: 1px dashed #ccc;
}
.cp_ipcheck {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_ipcheck:before, .cp_ipcheck:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
.cp_ipcheck .box {
	margin: 0em auto;
	text-align: left;
    position: relative;
}
.cp_ipcheck input[type=checkbox] {
	display: none;
}
.cp_ipcheck label.attraction:focus:before,
.cp_ipcheck label.attraction:hover:before,
.cp_ipcheck label.attraction:active:before,
.cp_ipcheck input:checked + label.attraction:before {
	border-color: #ccc;
	background: #fff;
}
.cp_ipcheck label.attraction {
	font-size: 1em;
	padding: 1em 1em;
	-webkit-transition: all 0.15s ease;
	        transition: all 0.15s ease;
}
.cp_ipcheck label.attraction:before {
	position: absolute;
	top: 1em;
	left: 0.5em;
	width: 14px;
	height: 14px;
	content: '';
	border: 0.2em solid #ccc;
}
.cp_ipcheck input:checked + label.attraction:before {
	border-color: #fff;
	background: #1a73e8;
}



.cp_menu {
  border-bottom: 1px dashed #ccc
}
.cp_menu a {
	color: blue;
}
.cp_menu label.menu::before {
	position: absolute;
	content: '▼';
	right: 0.8em;
	font-size: 15px;
	cursor: pointer;
}
.cp_menu input {
	display: none;
}
.cp_menu ul {
	margin: 0;
	list-style: none;
	text-align: center;
}
.cp_menu li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}
/*リストが増えたらULごとに追加してください*/
#cp_menu_bar1:checked ~ #link1 li,
#cp_menu_bar2:checked ~ #link2 li,
#cp_menu_bar3:checked ~ #link3 li,
#cp_menu_bar4:checked ~ #link4 li,
#cp_menu_bar5:checked ~ #link5 li,
#cp_menu_bar6:checked ~ #link6 li,
#cp_menu_bar7:checked ~ #link7 li,
#cp_menu_bar8:checked ~ #link8 li,
#cp_menu_bar9:checked ~ #link9 li,
#cp_menu_bar10:checked ~ #link10 li,
#cp_menu_bar11:checked ~ #link11 li,
#cp_menu_bar12:checked ~ #link12 li,
#cp_menu_bar13:checked ~ #link13 li,
#cp_menu_bar14:checked ~ #link14 li,
#cp_menu_bar15:checked ~ #link15 li,
#cp_menu_bar16:checked ~ #link16 li,
#cp_menu_bar17:checked ~ #link17 li,
#cp_menu_bar18:checked ~ #link18 li {
	max-height: 46px;
	opacity: 1;
}