.cp_select {
	overflow: hidden;
	width: 95%;
	margin: 2em auto;
	text-align: center;
}
.cp_select select {
	width: 100%;
	padding-right: 1em;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_select select::-ms-expand {
    display: none;
}
.cp_select.cp_sl03 {
	position: relative;
	border-bottom: 1px solid #000;
}
.cp_select.cp_sl03::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #000000;
	pointer-events: none;
}
.cp_select.cp_sl03 select {
	padding: 8px 38px 8px 8px;
}



.cp_ipcheck {
	text-align: left;
	border-top: 1px dashed #ccc;
}
.cp_ipcheck .option-input02 {
	position: relative;
	top: 18px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	outline: none;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-appearance: none;
	        appearance: none;
}
.cp_ipcheck .option-input02:checked {
	background: #fff;
}
.cp_ipcheck .option-input02:checked::before {
	font-size: 14px;
	line-height: 22px;
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: '✔';
	color: #da3c41;
	text-align: center;
}
.cp_ipcheck .option-input02:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: #da3c41;
}
.cp_ipcheck .option-input02.radio {
	border-radius: 50%;
}
.cp_ipcheck .option-input02.radio::after {
	border-radius: 50%;
}
.cp_ipcheck label {
	display: block;
}

.box1 {
	width: 320px;
}
.box2 {
	width: 480px;
}

.cp_ipcheck label {
	display: block;
	margin: 10px;
	padding: 10px;
	text-align: left;
}
.cp_ipcheck label:after {
	content: "";
	clear: both;
	display: block;
}
.cp_ipcheck label input { float: left; }
.cp_ipcheck label p {
	float: left;
	padding-top: 2px;
	width: calc(100% - 24px);
}



ul,li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul.keep li {
  float: left;
  width: 100%;
  border-bottom: 1px dashed #ccc;
}

ul.keep input {
  display: block;
  float: left;
}

ul.keep span {
  display: block;
  overflow: hidden; /* モダンブラウザ用 */
  zoom: 1; /* IE6用 */
}

/* クリアフィックス */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  overflow: hidden;
  zoom: 1;
}



.cp_ipradio {
	text-align: left;
}
.cp_ipradio .option-input {
	position: relative;
	top: 4px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 20px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	outline: none;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	        appearance: none;
}
.cp_ipradio .option-input:checked {
	background: #fff;
}
.cp_ipradio .option-input:checked::before {
	font-size: 14px;
	line-height: 22px;
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: '✔';
	color: #da3c41;
	text-align: center;
}
.cp_ipradio .option-input:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: #da3c41;
}
.cp_ipradio .option-input.radio {
	border-radius: 50%;
}
.cp_ipradio .option-input.radio::after {
	border-radius: 50%;
}
.cp_ipradio label {
	margin-right: 30px;
}





.cp_linetab {
position: relative;
overflow: hidden;
float: left;
width: 100%;
}
.cp_linetab input {
position: absolute;
z-index: -1;
opacity: 0;
}
.cp_linetab .cp_linetab-content {
overflow: hidden;
max-height: 0;
-webkit-transition: max-height 0.5s;
transition: max-height 0.5s;
}
.cp_linetab .cp_linetab-content p {
margin: 1em;
font-size: 14px;
}
.cp_linetab p{
margin-bottom:0px;
}

.cp_linetab input:checked ~ .cp_linetab-content {
max-height: 20em;
}