<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <link href="../static/css/style.css" media="all" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/icon.png">
        <title>USJ Planner</title>
        <meta http-equiv="content-type" charset="utf-8">
    </head>
    <body>
      <div class="box">
        <h1>ERROR</h1>
          <div class="normal-box3">
            {{comment}}<br>
            {{sub_comment}}
          </div>
      </div>
    </body>
</html>
