<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <link href="../static/css/style.css" media="all" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/logo.jpg">
        <title>USJ Planner</title>
        <meta http-equiv="content-type" charset="utf-8">
    </head>
    <body>
    <header>
    <h1 class="logo"><img src="../static/logo_header.png" alt="USJ Planner"></h1>
    </header>
    <div class="space"></div>
      <div class="box">
        <h2><span>Error</span></h2>
          <div class="normal-box3">
            {{comment}}<br>
            {{sub_comment}}
          </div>
          <br>
          <div class="back">
            <a href="/" style="color: #000; margin-left: 0.5rem;">
                <img src="../static/back.svg" alt="back">戻る
            </a>
          </div>
      </div>
    </body>
</html>
