<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
<link href="../static/css/style.css" media="all" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../static/icon.png">
<title>そつけん</title>
<meta http-equiv="content-type" charset="utf-8">
</head>
<body>
<div class="box"><h2>そつけん</h2></div>
<form action="/result" method="POST">
    <div class="box">
    <p>アトラクションを選択（※2つ以上）</p>
        <div class="bullets">
          {% for i in city[1:] %}
          <label><input type="checkbox" name="attraction" value="{{i.num}}"> {{i.name}}</label><br>
          {% endfor %}
        </div>
    <hr>

  <p>スタート地点</p>
  <div class="cp_select cp_sl03">
    <select name="START" class="select_box">
        {% for i in city %}
        <option value="{{i.num}}">{{i.name}}</option>
        {% endfor %}
    </select><br>
  </div>
  <hr>

  <p>ゴール地点</p>
  <div class="cp_select cp_sl03">
    <select name="END" class="select_box">
        {% for i in city %}
        <option value="{{i.num}}">{{i.name}}</option>
        {% endfor %}
    </select>
  </div>
  <hr>

  <p>スタート時間</p>
  <div class="cp_select cp_sl03">
    <select name="start_time" class="select_box">
      <option value="100" selected>現在時刻</option>
      <option value="1">8:15</option>
      <option value="2">8:45</option>
      <option value="3">9:15</option>
      <option value="4">9:45</option>
      <option value="5">10:15</option>
      <option value="6">10:45</option>
      <option value="7">11:15</option>
      <option value="8">11:45</option>
　　   <option value="9">12:15</option>
      <option value="10">12:45</option>
      <option value="11">13:15</option>
      <option value="12">13:45</option>
      <option value="13">14:15</option>
      <option value="14">14:45</option>
      <option value="15">15:15</option>
      <option value="16">15:45</option>
      <option value="17">16:15</option>
      <option value="18">16:45</option>
      <option value="19">17:15</option>
      <option value="20">17:45</option>
　　   <option value="21">18:15</option>
      <option value="22">18:45</option>
      <option value="23">19:15</option>
      <option value="24">19:45</option>
      <option value="25">20:15</option>
      <option value="26">20:45</option>
　　   <option value="27">21:15</option>
      <option value="28">21:45</option>
    </select><br>
  </div>
    <hr>

  <p>優先</p>
    <div class="bullets">
    <label><input type="radio" name="priority" value="True" checked> 距離優先</label>
    <label><input type="radio" name="priority" value="False"> 時間優先</label>
    </div>
    <hr>

  <p>世代数（計算の精度）</p>
    <div class="bullets">
        <b>5</b> <input type="range" name="generation" min="5" max="100" step="5" value="40" style="width: 50%"> <b>100</b>
    </div>
    <hr>

  <div class="button1">
    <br>
    <button class="Button2">実行</button>
  </div>
</div>
    <br>
</form>

</body>
</html>
