<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
<link href="../static/css/style.css" media="all" rel="stylesheet">
  <link href="../static/css/cp.css" media="all" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../static/logo.jpg">
<title>USJ Planner</title>
<meta http-equiv="content-type" charset="utf-8">
<meta name="google-site-verification" content="x53O8x_H6U95U8wmXJIZKL5GGweQKK_EPfwehgLZtmQ" />
<script type="text/javascript">
  function btnClick(){
    // コンテンツのclassの値を変更
    document.getElementsByClassName('is-show')[0].classList.remove('is-show');
    document.getElementsByClassName('panel')[1].classList.add('is-show');
  };
</script>
</head>
<body>
<header>
<h1 class="logo"><img src="../static/logo_header.png" alt="USJ Planner"></h1>
</header>
<div class="panel tab-A is-show">
<div class="box">
  <img class="top_img" src="../static/top_img.jpg">
  <div class="explanation">
  　USJ Plannerは、USJの乗りたいアトラクションから、最適なコースを提案してくれるアプリです。
    スタート時間、アトラクションなどを選択すると、移動距離や所要時間の大まかな予測ができます。
    USJを訪れる際のプランニングに役立つかもしれません。
    （※当日の混雑状況により、予測とは大幅に異なる場合があります。）
  </div>
  <hr>
</div>
<form action="/result" method="POST">
<div class="box">
  <h3><span>本日の営業時間 {{opening}}</span></h3>
  <div class="normal-box3">
  <p>スタート時間</p>
  <div class="cp_select cp_sl03">
    <select name="start_time" class="select_box">
      <option value="100" selected>現在時刻</option>
      {% for i in index_time %}
        <option value="{{value[loop.index-1]}}">{{i}}</option>
      {% endfor %}
    </select>
  </div>
  </div>

    <div class="normal-box3">
      <p>アトラクションを選択</p>
        <div class="bullets">
              <div class="cp_ipcheck">
                <ul class="keep clearfix">

          {% for i in city[1:] %}
                    <li>
                        <input type="checkbox" class="option-input02 checkbox"  name="attraction" id="{{i.num}}" value="{{i.num}}">
                        <span>
                            <label for="{{i.num}}">
                                {{i.name}}
                            </label>
                        </span>
                    </li>
          {% endfor %}
                </ul>
              </div>
          </div>
    </div>

  <div class="normal-box3">
  <p>スタート地点</p>
  <div class="cp_select cp_sl03">
    <select name="START" class="select_box">
        {% for i in city %}
        <option value="{{i.num}}">{{i.name}}</option>
        {% endfor %}
    </select>
  </div>

  <p>ゴール地点</p>
  <div class="cp_select cp_sl03">
    <select name="END" class="select_box">
        {% for i in city %}
        <option value="{{i.num}}">{{i.name}}</option>
        {% endfor %}
    </select>
  </div>
  </div>

  <div class="normal-box3">
  <p>優先</p>
    <div class="bullets">
      <div class="cp_ipradio">
        <label>
        <input type="radio" class="option-input radio" name="priority" value="距離優先" id="distance" checked >
        距離優先
        </label>
        <label>
        <input type="radio" class="option-input radio" name="priority" value="時間優先" id="time">
        時間優先
        </label>
      </div>
    </div>
  </div>

  <div class="normal-box3">
  <div class="button1">
    <button class="Button2" style="width:100%; padding: 10px" onclick="btnClick()">検索</button>
  </div>
  <p>計算の精度</p>
    <div class="range">
    <b>5</b> <input type="range" name="generation" min="5" max="100" step="5" value="30" style="width: 80%"> <b>100</b>
    </div>

  </div>


</div>
</form>
<br>
</div>

<div class="panel tab-B">
    <div class="svg">
    <object type="image/svg+xml" class="loading" data="../static/loading.svg"></object>
    </div>
  <p class="wait" style="">計算中...</p>
</div>

</body>
</html>
