<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
<link href="../static/css/style.css" media="all" rel="stylesheet">
<link href="../static/css/loading.css" media="all" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../static/icon.png">
<title>USJ Planner</title>
<meta http-equiv="content-type" charset="utf-8">
<meta name="google-site-verification" content="x53O8x_H6U95U8wmXJIZKL5GGweQKK_EPfwehgLZtmQ" />
<script type="text/javascript">
  function btnClick(){
    // コンテンツのclassの値を変更
    document.getElementsByClassName('is-show')[0].classList.remove('is-show');
    document.getElementsByClassName('panel')[1].classList.add('is-show');
  };
</script>
</head>
<body>
<div class="panel tab-A is-show">
<div class="box"><h1>USJ Planner</h1></div>
<form action="/result" method="POST">
<div class="explanation">
　USJ Plannerは、USJを回るのに最適なコースを提案してくれるwebアプリです。
  スタート時間、乗りたいアトラクションなどを選択すると、所要時間や移動距離の大まかな予測ができます。
  USJを訪れる際のプランニングに役立つかもしれません。
  （※当日の混雑状況により、予測が大幅に外れる場合があります。）
</div>
<div class="box">
  <hr>
  <h3><span>本日の営業時間 {{opening}}</span></h3>
  <div class="normal-box3">
  <p>スタート時間</p>
  <div class="cp_select cp_sl03">
    <select name="start_time" class="select_box">
      <option value="100" selected>現在時刻</option>
      {% for i in index_time %}
        <option value="{{value[loop.index-1]}}">{{i}}</option>
      {% endfor %}
    </select>
  </div>
  </div>

    <div class="normal-box3">
    <p>アトラクションを選択</p>
        <div class="bullets">
          {% for i in city[1:] %}
          <div class="check">
          <input type="checkbox" class="attraction" name="attraction" id="{{i.num}}" value="{{i.num}}">
          <label class="attraction" for="{{i.num}}"> {{i.name}}</label>
          </div>
          {% endfor %}
        </div>
    </div>

  <div class="normal-box3">
  <p>スタート地点</p>
  <div class="cp_select cp_sl03">
    <select name="START" class="select_box">
        {% for i in city %}
        <option value="{{i.num}}">{{i.name}}</option>
        {% endfor %}
    </select>
  </div>

  <p>ゴール地点</p>
  <div class="cp_select cp_sl03">
    <select name="END" class="select_box">
        {% for i in city %}
        <option value="{{i.num}}">{{i.name}}</option>
        {% endfor %}
    </select>
  </div>
  </div>

  <div class="normal-box3">
  <p>優先</p>
    <div class="bullets">
    <input type="radio" name="priority" value="距離優先" id="distance" checked><label for="distance"> 距離優先</label>
    <input type="radio" name="priority" value="時間優先" id="time"><label for="time"> 時間優先</label>
    </div>
  </div>

  <div class="normal-box3">
  <div class="button1">
    <button class="Button2" style="width:100%; padding: 10px" onclick="btnClick()">検索</button>
  </div>
  <p>世代数（計算の精度）</p>
    <div class="range">
    <b>5</b> <input type="range" name="generation" min="5" max="100" step="5" value="40" style="width: 80%"> <b>100</b>
    </div>

  </div>


</div>
</form>
<br>
</div>

<div class="panel tab-B">
    <div class="gif">
    <img class="minion" src="../static/minion.gif" alt ="minion">
    </div>
    <div class="loading">
      <span>L</span>
      <span>O</span>
      <span>A</span>
      <span>D</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
    </div>
</div>

</body>
</html>
